@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@mixin Montserrat {
  font-family: "Montserrat", sans-serif;
}

$borderColor: #7e1e86;
$listingHeight: 200px;
$pictureWidth: 190px;
$borderRadius: 10px;
$textColor: #e0e0e0;
$imageBackgroundColor: #d6c6e2;

@mixin flex($justifyContent, $direction) {
  display: flex;
  flex-direction: $direction;
  // align-items: center;
  justify-content: $justifyContent;
}

.listing {
  @include flex(space-between, row);
  @include Montserrat();
  width: 100%;
  height: $listingHeight;
  margin-top: 20px;
  white-space: nowrap;
  border-radius: $borderRadius;
  border: 3px solid $borderColor;
  color: $textColor;
  padding: 5px;
}

.imageContainer {
  @include flex(space-between, row);
  width: $pictureWidth;
  height: $listingHeight;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: $imageBackgroundColor;
  border-radius: $borderRadius;
}

.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: $borderRadius;
}

.info {
  @include flex(space-between, column);
  width: calc(100% - #{$pictureWidth});
  height: 100%;
}

.title {
  text-align: center;
  font-size: 25px;
  overflow: hidden;
  height: 40px;
}

.otherInfo {
  @include flex(space-around, column);
  padding: 0 20px;
  height: 100%;
  font-size: 20px;
}
